In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2021-05-26 23:50:13,42.6001,-73.9662,71.02,88,68,4.00
1,1,Hobart,AU,2021-05-26 23:50:28,-42.8794,147.3294,50.25,65,40,3.00
2,2,Rawson,AR,2021-05-26 23:50:51,-43.3002,-65.1023,51.94,62,100,4.79
3,3,Faya,SA,2021-05-26 23:51:00,18.3851,42.4509,68.11,31,1,1.66
4,4,Port Alfred,ZA,2021-05-26 23:51:00,-33.5906,26.8910,59.58,81,90,4.34

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Hithadhoo,MV,2021-05-26 23:51:02,-0.6000,73.0833,83.82,70,100,20.13
13,13,Rikitea,PF,2021-05-26 23:51:04,-23.1203,-134.9692,75.42,72,94,20.45
18,18,Hammonton,US,2021-05-26 23:51:05,39.6365,-74.8024,76.71,89,45,6.40
20,20,Balikpapan,ID,2021-05-26 23:50:15,-1.2675,116.8289,81.59,89,40,2.30
21,21,Victoria,HK,2021-05-26 23:50:01,22.2855,114.1577,88.97,83,83,1.99
29,29,Tautira,PF,2021-05-26 23:51:08,-17.7333,-149.1500,82.42,75,18,6.96
33,33,Atuona,PF,2021-05-26 23:51:10,-9.8000,-139.0333,79.12,76,73,12.93
34,34,Humaita,BR,2021-05-26 23:51:10,-7.5061,-63.0208,81.70,62,57,2.62
35,35,Kieta,PG,2021-05-26 23:51:10,-6.2167,155.6333,81.68,83,86,6.06
38,38,Hilo,US,2021-05-26 23:48:46,19.7297,-155.0900,80.33,77,20,8.05

In [17]:
preferred_cities_df.count()

City_ID       161
City          161
Country       161
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
9    Hithadhoo      MV     83.82  -0.6000   73.0833
13     Rikitea      PF     75.42 -23.1203 -134.9692
18   Hammonton      US     76.71  39.6365  -74.8024
20  Balikpapan      ID     81.59  -1.2675  116.8289
21    Victoria      HK     88.97  22.2855  114.1577
29     Tautira      PF     82.42 -17.7333 -149.1500
33      Atuona      PF     79.12  -9.8000 -139.0333
34     Humaita      BR     81.70  -7.5061  -63.0208
35       Kieta      PG     81.68  -6.2167  155.6333
38        Hilo      US     80.33  19.7297 -155.0900

In [55]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [57]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Hithadhoo,MV,83.82,-0.6000,73.0833,Scoop Guest House
13,Rikitea,PF,75.42,-23.1203,-134.9692,Pension Maro'i
18,Hammonton,US,76.71,39.6365,-74.8024,"Red Carpet Inn & Suites Hammonton, NJ"
20,Balikpapan,ID,81.59,-1.2675,116.8289,ibis Balikpapan
21,Victoria,HK,88.97,22.2855,114.1577,Mini Hotel Central
29,Tautira,PF,82.42,-17.7333,-149.1500,Pension Oaoa
33,Atuona,PF,79.12,-9.8000,-139.0333,Villa Enata
34,Humaita,BR,81.70,-7.5061,-63.0208,Corrêa Hotel
35,Kieta,PG,81.68,-6.2167,155.6333,Uruna Bay Retreat
38,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel

In [59]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [61]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [62]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))