## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/gobinaththangaiya/Documents/GitHub/World_Weather_Analysis/Vacation_Search/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,atuona,PF,79.54,overcast clouds,-9.8000,-139.0333,Villa Enata
1,5,cap malheureux,MU,81.46,light rain,-19.9842,57.6142,Pereybere Hotel & Spa
2,11,kapaa,US,75.52,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,16,dong hoi,VN,85.82,overcast clouds,17.4833,106.6000,Nam Long Hotel
4,17,east london,ZA,76.14,clear sky,-33.0153,27.9116,Tu Casa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[['Lat', 'Lng']]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'manaus']
vacation_end = vacation_df.loc[vacation_df['City'] == 'manaus']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'coruripe']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'itarema']
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'salinopolis']

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].values[0], vacation_start['Lng'].values[0]
end = vacation_end['Lat'].values[0], vacation_end['Lng'].values[0]
stop1 = vacation_stop1['Lat'].values[0], vacation_stop1['Lng'].values[0]
stop2 = vacation_stop2['Lat'].values[0], vacation_stop2['Lng'].values[0]
stop3 = vacation_stop3['Lat'].values[0], vacation_stop3['Lng'].values[0]

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(-3.1019, -60.025)
(-3.1019, -60.025)
(-10.1256, -36.1756)
(-2.9248, -39.9167)
(-0.6136, -47.3561)

In [21]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode='DRIVING'
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# 8. To create a marker layer map between the four cities.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3])
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
81,296,manaus,BR,77.49,broken clouds,-3.1019,-60.0250,Manaus Hotéis Millennium
81,296,manaus,BR,77.49,broken clouds,-3.1019,-60.0250,Manaus Hotéis Millennium
188,671,coruripe,BR,77.11,broken clouds,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
121,434,itarema,BR,76.44,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
112,416,salinopolis,BR,78.49,broken clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101

In [27]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,296,manaus,BR,77.49,broken clouds,-3.1019,-60.0250,Manaus Hotéis Millennium
1,296,manaus,BR,77.49,broken clouds,-3.1019,-60.0250,Manaus Hotéis Millennium
2,671,coruripe,BR,77.11,broken clouds,-10.1256,-36.1756,Pousada e Hotel Litoral Sul
3,434,itarema,BR,76.44,scattered clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
4,416,salinopolis,BR,78.49,broken clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} at {Max Temp}</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))